/* Allgemeine Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #1f1f1f;
    padding: 50px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 3em;
    color: #FF6347;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #fff;
}

/* Navigation */
nav {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    background-color: #FF6347;
    transform: scale(1.05);
}

/* Hauptinhalt */
main {
    padding: 50px 0;
    background-color: #1c1c1c;
}

section {
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #FF6347;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.team-member {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.team-member .member {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member .member:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #FF6347;
    transition: transform 0.3s ease;
}

.team-member img:hover {
    transform: scale(1.2);
}

h3 {
    color: #FF6347;
    font-size: 1.5em;
    margin-top: 10px;
}

/* News Section */
.news-item {
    background-color: #222;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.news-item h3 {
    color: #FF6347;
}

.news-item p {
    color: #ddd;
}

/* Hover-Effekte für die News */
.news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .team-member {
        flex-direction: column;
        align-items: center;
    }

    .team-member .member {
        width: 80%;
    }
}
